*{
    margin: 0;
    padding: 0;
}
body{
    background: no-repeat url(/assets/morning.jpg);
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.content{
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time{
    font-size: 100px;
    color: black;
}
.cl{
    font-size: 30px;
    color: black;
    font-weight: 900;
}

input{
    font-size: 30px;
    border: none;
    background: none;
    color: white;
    outline: none;

}